[submodule "FlowPro"]
	path = FlowPro
	url = https://github.com/ondrabublik/FlowPro.git
[submodule "FlowProAPI"]
	path = FlowProAPI
	url = https://github.com/ondrabublik/FlowProAPI.git
[submodule "FlowProManager"]
	path = FlowProManager
	url = https://github.com/ondrabublik/FlowProManager.git
[submodule "ModuleProjects/Equations/Aerodynamics"]
	path = ModuleProjects/Equations/Aerodynamics
	url = https://github.com/ondrabublik/FlowPro-Aerodynamics.git
[submodule "ModuleProjects/Dynamics/RigidBody"]
	path = ModuleProjects/Dynamics/RigidBody
	url = https://github.com/ondrabublik/FlowPro-RigidBody-dynamics.git
[submodule "ModuleProjects/Equations/ShallowWater"]
	path = ModuleProjects/Equations/ShallowWater
	url = https://github.com/ondrabublik/FlowPro-Shallow-water.git
[submodule "ModuleProjects/Equations/ScalarEquations"]
	path = ModuleProjects/Equations/ScalarEquations
	url = https://github.com/ondrabublik/FlowPro-Scalar-equations.git
